<div class="formContainer">
  <h1>
    Add User
  </h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" id="userForm">
    <div class="inputContainer">
        <label for="userName"><h4>First Name</h4></label>
        <input type="text" placeholder="First Name" id="userName" formControlName="user_name" autofocus>
        <span class="errorMessage" *ngIf="userForm.get('user_name').hasError('required')&&(userForm.get('user_name').touched || userForm.get('user_name').dirty)">*First name required</span>
    </div>
    <div class="inputContainer">
        <label for="lastName"><h4>Last Name</h4></label>
        <input type="text" placeholder="Last Name" id="lastName" formControlName="last_name">
        <span class="errorMessage" *ngIf="userForm.get('last_name').hasError('required')&&(userForm.get('last_name').touched || userForm.get('last_name').dirty)">*Last name required</span>
    </div>
    <h4>Gender</h4>
    <div class="inputContainer">
        
        <input type="radio" id="male" value="Male" formControlName="gender"><label for="male">Male</label><br>
        
        <input type="radio" id="female" value="Female" formControlName="gender"><label for="female">Female</label><br>
        <span class="errorMessage" *ngIf="userForm.get('gender').hasError('required')&&(userForm.get('gender').touched || userForm.get('gender').dirty)">*Gender required</span>
    </div>
    <h4>Photo</h4>
    <div class="inputContainer">
        <input type="file" id="file" class="inputfile" #userFile formControlName="userFile" #file (change)="updateFile(file)"/>
        <label for="file">{{fileTitle}}</label>
        <span class="errorMessage" *ngIf="userForm.get('userFile').hasError('required')&&(userForm.get('userFile').touched || userForm.get('userFile').dirty)">*File required</span>
    </div>
    <div class="inputContainer submitButtonContainer">
      <button type="submit"[class.blueBackground]="userForm.valid" [class.disabledClick]="!userForm.valid" [disabled]="!userForm.valid">Send</button>
    </div>
  </form>
</div>